<app-question *ngFor="let question of questionsToDisplay; index as i; trackBy: trackByFn" [question]="question"
  (userAnswerChange)="userAnswers[i] = $event" [changeQuestionButton]="changeQuestionButton">
</app-question>

<div>
  <button class="inverse large" *ngIf="userAnswers.length == 5" (click)="onAnswersSubmit()">
    Submit
  </button>
</div>

<ng-template #changeQuestionButton let-question>
  <button *ngIf="displayChangedQuestionButton" class="inverse" (click)="onQuestionChange(question)">
    Change question
  </button>
</ng-template>